*~
*.swp
*.swo
*.o
*.so
reindex
*.html
tags
genmobi.sh
*.mobi
re1
nginx
ctags
src/regex.c
src/bytecode.c
src/bytecode.h
src/palloc.h
src/parser.h
src/compiler.h
src/parser.y
src/core.h
src/regex.h
src/capture.[ch]
src/compiler.c
src/palloc.c
src/parser.c
src/thompson.c
src/thompson.h
src/pike.[ch]
src/cli.[ch]
src/sre_regex_parser.output
*.so
*.a
sregex-cli
go
releng
reindex
a.*
plot
*.plist
lines
re_tests
testinput1
*.png
