*~
*.swp
*.swo
*.o
*.so
*.so.*
reindex
*.html
tags
genmobi.sh
*.mobi
re1
nginx
ctags
src/sregex/regex.c
src/sregex/bytecode.c
src/sregex/bytecode.h
src/sregex/palloc.h
src/sregex/parser.h
src/sregex/compiler.h
src/sregex/parser.y
src/sregex/core.h
src/sregex/regex.h
src/sregex/capture.[ch]
src/sregex/compiler.c
src/sregex/palloc.c
src/sregex/parser.c
src/sregex/thompson.c
src/sregex/thompson.h
src/sregex/pike.[ch]
src/sregex/yyparser.[chy]
src/cli.[ch]
*.output
*.so
*.a
*.dylib
sregex-cli
go
releng
reindex
a.*
plot
*.plist
lines
re_tests
testinput1
*.png
r
*.s
src/sregex/tjit.c
src/sregex/tx64.dasc
src/sregex/tx64.h
dasm
src/sregex/list.[ch]
x64*.patch
b.pl
b.txt
c.txt
src/sregex/x64.h
src/sregex/jit.c
src/sregex/sre_list.[ch]
bench/sregex
bench/pcre
bench/re2
bench/*.txt
